@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stili di base per la tua app */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

.auth-container {
  width: 300px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

/* Stili per i giorni della settimana in modalità light e dark mode */
.fc-theme-standard .fc-scrollgrid {
  color: inherit;
}

.fc-theme-standard .fc-scrollgrid .fc-col-header-cell-cushion {
  color: inherit;
}

/* Stili per i giorni della settimana in modalità dark mode */
body.dark-mode .fc-theme-standard .fc-scrollgrid .fc-col-header-cell {
  background-color: #1d1d1d;
  color: #ffffff;
}

/* Correzione bordi del calendario */
.fc {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.fc .fc-daygrid-day {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.fc .fc-scrollgrid,
.fc .fc-scrollgrid-sync-table {
  border-radius: 20px;
  overflow: hidden;
}

.fc .fc-daygrid-day-frame {
  border-radius: 5px;
  overflow: hidden;
}

/* Correzione angoli bottoni */
.fc .fc-toolbar button {
  border-radius: 6px !important;
  padding: 8px 12px;
}

.fc .fc-toolbar button:first-child {
  border-radius: 6px 0 0 6px !important;
}

.fc .fc-toolbar button:last-child {
  border-radius: 0 6px 6px 0 !important;
}
